html{
    background-color: rebeccapurple;
    font-family: "Open Sans";
}
body{
    background-color: paleturquoise;
    width: 500px;
    height :700px;
    border: 5px solid black;
    margin: auto auto;
    padding: 20px 20px 20px 20px;
    border-radius: 10px;
    box-shadow: rosybrown;

}
h1{
    background: #1F030C;
    color: white;
    margin: 0;
    text-transform: uppercase;
}
.input_form{
    margin : 20px 20px 20px 20px;
   
  }
